// colors
$primary: #0077be; // water
$secondary: #b7410e; // rust
$accent: #e1ad01; // mustard
$info: #759194; // stone
$warning: #f05e23; // orange
$error: #950714; // cranberry
$success: #228b22; // forrest

$light-grey: #d9d9d9;
$dark-grey: #4a4a4a;

html,
body {
  color: $dark-grey;
  height: 100%;
}

#__nuxt,
#__layout,
#app,
.v-application--wrap {
  height: 100%;
}

a {
  text-decoration: none;
}

button,
a {
  &:hover,
  &:active {
    &:before {
      background: transparent !important;
    }
  }

  &.v-btn--active {
    &:before {
      background: transparent;
    }
  }
}

.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity 0.5s;
}

.page-fade-enter,
.page-fade-leave-to {
  opacity: 0;
}

.h-100 {
  height: 100% !important;
}
