a {
  text-decoration: none;
}

button,
a {
  &:hover {
    &:before {
      background: transparent;
    }
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
